@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.font-primary{
    font-family: "Forum", serif ;
}
body{
    font-family: "Inter", sans-serif;
}
.text-logo{
    font-size: 2rem;
}
.text-underlogo{
    font-size: 0.6rem;
}